/* Roboto
   https://fonts.google.com/specimen/Roboto?preview.text_type=custom#standard-styles */

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url(./Roboto-Regular.ttf) format("truetype")
}

/* Material Symbols */

@font-face {
    font-family: "Material Symbols Sharp";
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url("./material-symbols-sharp.woff2") format("woff2");
}

.material-symbols {
    font-family: 'Material Symbols Sharp', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}



* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--background-color);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}