<link rel="stylesheet" href="/assets/material.css">
<style>
    main {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    app-list {
        flex: 1 1 auto;
        height: 0;
    }

    #actions {
        border-top: 1px solid var(--border-color);
        padding: 0.5em 1em;
        text-align: right;
        overflow: hidden;
    }
</style>
<app-dialog id="settingsDialog" data-title="Settings">
    <main>
        <linear-progress></linear-progress>
        <app-list></app-list>
        <section id="actions">
            <app-button id="btnCancel" value="Cancel"></app-button>
            <app-button id="btnOk" value="Apply"></app-button>
        </section>
    </main>
</app-dialog>