<style>
    @import url(/assets/material.css);

    main {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    m2-list {
        flex: 1 1 auto;
        height: 0;
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5em 1em;
        text-align: right;
        overflow: hidden;
    }
</style>
<m2-dialog id="settingsDialog" data-title="Settings">
    <main>
        <m2-linear-progress></m2-linear-progress>
        <m2-list></m2-list>
        <footer>
            <m2-button id="btnCancel">Cancel</m2-button>
            <m2-button id="btnOk">Apply</m2-button>
        </footer>
    </main>
</m2-dialog>