<style>
    @import url(/assets/material.css);

    section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    main {
        padding: 0.5em;
        overflow: hidden auto;
        flex: 1 1 auto;
        height: 0;
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5em;
        text-align: center;
        overflow: hidden;
    }

    @media (max-width:480px) {
        .surface {
            left: 0;
            right: unset;
            width: 100%;
            max-width: unset;
            max-height: unset;
        }

        .overlay {
            background-color: transparent;
        }
    }
</style>
<m2-side-panel data-title="Search">
    <m2-round-button id="help" title="Help" data-icon="help" slot="appBarLeft"></m2-round-button>
    <m2-round-button id="clear" title="Clear" data-icon="clear_all" slot="appBarRight"></m2-round-button>
    <m2-round-button id="close" title="Close" data-icon="close" slot="appBarRight"></m2-round-button>
    <section slot="main">
        <main></main>
        <footer>
            <m2-button id="apply">search</m2-button>
        </footer>
    </section>
</m2-side-panel>