<link rel="stylesheet" href="/assets/material.css">
<style>
    #wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #title {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #jsonView,
    #xmlView,
    #ttlView {
        flex: 1 1 auto;
        height: 0;
    }

    #header.error {
        background-color: var(--background-error, transparent);
        color: white;
    }

    #error {
        padding: 1em;
    }

    #refPanel {
        border-top: 1px solid var(--border-color, gray);
    }
</style>
<div id="wrapper">
    <app-bar id="header">
        <h3 slot="middle" id="title"></h3>
        <round-button slot="right" id="share" title="Share" data-icon="share"></round-button>
        <round-button slot="right" id="copy" title="Copy to clipboard" data-icon="content_copy"></round-button>
        <round-button slot="right" id="download" title="Download" data-icon="download"></round-button>
        <round-button slot="right" id="help" title="Help" data-icon="help"></round-button>
    </app-bar>
    <tab-bar>
        <app-tab id="tabJson" selected>Json</app-tab>
        <app-tab id="tabXml" hidden>Xml</app-tab>
        <app-tab id="tabTtl" hidden>Ttl</app-tab>
    </tab-bar>
    <fhir-resource-json id="jsonView"></fhir-resource-json>
    <fhir-resource-xml id="xmlView" hidden></fhir-resource-xml>
    <fhir-resource-ttl id="ttlView" hidden></fhir-resource-ttl>
    <span id="error"></span>
    <div id="refPanel">
        <fhir-references></fhir-references>
    </div>
</div>