<link rel="stylesheet" href="/assets/material.css">
<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #list {
        overflow: auto;
        flex: 1 1 auto;
        height: 0;
    }

    #list>* {
        cursor: pointer;
    }

    #actions {
        border-top: 1px solid var(--border-color);
        padding: 0.5em 1em;
        text-align: center;
        overflow: hidden;
    }

    #actions input[type=button] {
        background: none;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        color: var(--primary-color);
        cursor: pointer;
        font: inherit;
        padding: 5px 16px;
        text-transform: uppercase;
    }

    #actions input[type=button]:hover {
        background-color: var(--hover-color);
    }
</style>
<main>
    <linear-progress></linear-progress>
    <list-filter></list-filter>
    <section id="list"></section>
    <section id="actions">
        <input type="button" id="apply" value="Apply"></input>
    </section>
</main>