<link rel="stylesheet" href="/assets/material.css">
<style>
    #wrapper {
        display: flex;
        flex-direction: column;
        font-family: Roboto, Arial, monospace;
        height: 100%;
    }

    main {
        overflow: auto;
        padding: 1em;
        flex: 1 1 auto;
        height: 0;
    }

    footer {
        padding: 9px 16px;
        text-align: center;
        overflow: hidden;
    }

    footer input[type=button] {
        background: none;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        color: var(--primary-color);
        cursor: pointer;
        font: inherit;
        padding: 5px 16px;
        text-transform: uppercase;
    }

    footer input[type=button]:hover {
        background-color: var(--hover-color);
    }
</style>
<div id="wrapper">
    <main>
        <text-field id="key" placeholder="Code" required></text-field>
        <text-field id="url" placeholder="Url"></text-field>
        <server-auth id="authMethod" placeholder="Authorization" value="No Auth">
        </server-auth>
        <section id="apiSection" hidden>
            <text-field id=" apiKey" placeholder="Key"></text-field>
            <text-field id="apiValue" placeholder="Value"></text-field>
        </section>
        <section id="basicSection" hidden>
            <text-field id="basicUsername" placeholder="Username"></text-field>
            <text-field id="basicPassword" placeholder="Password"></text-field>
        </section>
        <section id="oauthSection" hidden>
            <text-field id="oauthTokenurl" placeholder="Access Token URL"></text-field>
            <text-field id="oauthClientid" placeholder="Client ID"></text-field>
            <text-field id="oauthClientsecret" placeholder="Client Secret"></text-field>
            <text-field id="oauthGranttype" placeholder="Grant Type" value="password" readonly></text-field>
            <text-field id="oauthUsername" placeholder="Username"></text-field>
            <text-field id="oauthPassword" placeholder="Password"></text-field>
        </section>
    </main>
    <footer>
        <input type="button" id="cancel" value="Cancel"></input>
        <input type="button" id="apply" value="Apply"></input>
    </footer>
</div>