<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    app-tabs {
        flex: 1 1 auto;
    }

    #server {
        padding: 1em;
    }
</style>
<main>
    <header id="server">
        <list-item id="serverTitle" data-primary="" data-secondary="" data-icon=""></list-item>
    </header>
    <app-tabs>
        <section data-caption="Resource Types">
            <fhir-resource-types id="resourceTypes"></fhir-resource-types>
        </section>
        <section data-caption="Details">
            <fhir-capability id="capability"></fhir-capability>
        </section>
    </app-tabs>
</main>