<style>
    @import url(/assets/material.css);

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #content {
        color: var(--text-color-normal, black);
        flex: 1 1 auto;
        font-family: monospace;
        height: 0;
        overflow: auto;
        padding: 1em;
        white-space: pre;
        margin: 0;
        box-shadow: inset 0 3px 4px var(--border-color);
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5em;
        display: flex;
        flex-flow: row nowrap;
    }

    footer>section:nth-child(2) {
        flex-grow: 1;
    }

    footer span {
        display: inline-block;
    }

    footer span:not(:last-child) {
        border-right: 1px solid var(--border-color);
        padding-right: 0.5em;
        margin-right: 0.25em;
    }

    @media (max-width:480px) {
        #content {
            line-height: 2em;
        }
    }
</style>
<main>
    <pre id="content"></pre>
    <footer>
        <section></section>
        <section></section>
        <section>
            <span>
                <m2-round-button id="share" title="Share" data-icon="share"></m2-round-button>
                <m2-round-button id="copy" title="Copy to clipboard" data-icon="content_copy"></m2-round-button>
                <m2-round-button id="download" title="Download" data-icon="download"></m2-round-button>
            </span>
        </section>
    </footer>
</main>