<style>
    @import url(/assets/material.css);

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    #template {
        flex: 1 1 auto;
        height: auto;
        padding: 1em;
        overflow-y: auto;
    }

    #template fieldset {
        border: 0;
        padding: 0;
    }

    #template legend {
        margin-bottom: 1em;
        text-transform: lowercase;
    }

    #template legend::first-letter {
        text-transform: uppercase;
    }

    #template section {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        gap: 0.2em 1em;
        border: 0 none;
        background-color: inherit;
        min-height: 50px;
    }

    #emptyMsg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: var(--text-color-disabled);
        text-align: center;
    }

    #emptyMsg p>i {
        vertical-align: middle;
    }

    .fab {
        position: absolute;
        bottom: 1em;
        right: 1em;
        background-color: var(--primary-color);
        border-radius: 100%;
        color: white;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }
</style>
<main>
    <section id="template"></section>
    <section id="emptyMsg" hidden>
        <p>There is no template yet for this resource type.</p>
        <p>Click the configure button <i class="material-symbols-sharp">edit</i> to design your own<br />or use the view
            switcher <i class="material-symbols-sharp">wysiwyg</i> to switch back to the json view.</p>
    </section>
    <round-button class="fab" title="setup" data-icon="edit"></round-button>
</main>