<style>
    @import url(/assets/material.css);

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #content {
        --indent: 32px;
        color: var(--text-color-normal, black);
        flex: 1 1 auto;
        font-family: monospace;
        height: 0;
        overflow: auto;
        padding: 1em;
        margin: 0;
        white-space: nowrap;
        box-shadow: inset 0 3px 4px var(--border-color);
    }

    #content dl {
        margin: 0;
        padding-left: var(--indent);
    }

    #content #content>dl {
        padding-left: 0;
    }


    #content dt {
        list-style-type: none;
    }

    #content span.key {
        color: var(--xml-viewer-nodes-color, black);
    }

    #content span.key::before {
        content: '<';
    }

    #content span.key::after {
        content: '>';
    }

    #content span.attributes {
        color: var(--xml-viewer-attributes-color, black);
    }

    #content span.values {
        color: var(--xml-viewer-values-color, black);
    }

    #content span.values a {
        color: inherit;
    }

    #content span.key.end {
        padding-left: var(--indent);
    }

    #content dt,
    #content dt.object>span.value::after {
        padding-left: var(--indent);
    }

    #content dt.object {
        padding-left: 0;
    }

    #content dt.object::before {
        cursor: pointer;
        content: 'expand_less ';
        font-family: 'Material Symbols Sharp';
        font-weight: bold;
        line-height: inherit;
        vertical-align: middle;
        color: var(--text-color-disabled, black);
    }

    #content dt.collapsed::before {
        content: 'expand_more ';
    }

    #content dt.collapsed>span dl {
        display: none;
    }

    #content dt.object.collapsed span.value::after {
        content: '...';
        padding-left: 0;
    }

    #content dt.object.collapsed span.key.end {
        padding-left: 0;
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5em;
        display: flex;
        flex-flow: row unwrap;
    }

    footer>section:nth-child(2) {
        flex-grow: 1;
    }

    footer span {
        display: inline-block;
    }

    footer span:not(:last-child) {
        border-right: 1px solid var(--border-color);
        padding-right: 0.5em;
        margin-right: 0.25em;
    }

    @media (max-width:480px) {
        #content {
            line-height: 2em;
        }
    }
</style>
<main>
    <div id="content"></div>
    <footer>
        <section></section>
        <section></section>
        <section>
            <span>
                <round-button id="sort-toggle" title="Sort" data-icon="sort_by_alpha"></round-button>
            </span>
            <span><round-button id="share" title="Share" data-icon="share"></round-button>
                <round-button id="copy" title="Copy to clipboard" data-icon="content_copy"></round-button>
                <round-button id="download" title="Download" data-icon="download"></round-button>
            </span>
        </section>
    </footer>
</main>