<style>
    main {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    resource-template-editor {
        flex: 1 1 auto;
        height: 0;
    }

    footer {
        border-top: 1px solid var(--border-color);
        text-align: center;
        padding: 0.5em;
    }
</style>
<m2-dialog data-title="Template" fullscreen centered>
    <main>
        <resource-template-editor></resource-template-editor>
        <footer>
            <m2-button id="cancel">cancel</m2-button>
            <m2-button id="save">save</m2-button>
        </footer>
    </main>
</m2-dialog>