<style>
    main {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    #template {
        flex: 1 1 auto;
        overflow: auto;
        padding: 1em;
    }

    #template fieldset {
        border: 0;
        padding: 0;
    }

    #template fieldset>input[type=text] {
        border: 0 none;
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 1em;
        background-color: inherit;
    }

    #template section {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        gap: 0.2em 1em;
        border: 0 none;
        background-color: inherit;
        min-height: 50px;
    }

    #template.drag.over,
    #template.drag fieldset.over,
    #template section.over,
    #template m2-textfield.over {
        border: 1px dashed black;
        background-color: var(--hover-color, rgb(0 0 0 / 4%));
    }

    m2-side-panel {
        border-left: 1px solid var(--border-color);
    }

    m2-list>* {
        cursor: grab;
    }
</style>
<main>
    <section id="template"></section>
    <m2-side-panel data-title="Data">
        <m2-linear-progress slot="main"></m2-linear-progress>
        <m2-list slot="main"></m2-list>
    </m2-side-panel>
</main>