<style>
    @import url(/assets/material.css);

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #content,
    resource-template-view {
        flex: 1 1 auto;
        height: 0;
        box-shadow: inset 0 3px 4px var(--border-color);
    }

    #content {
        --indent: 32px;
        color: var(--text-color-normal, black);
        font-family: monospace;
        overflow: auto;
        padding: 1em;
        white-space: nowrap;
    }

    #content dl {
        margin: 0;
        padding-left: var(--indent);
    }

    #content dt {
        list-style-type: none;
    }

    #content span {
        color: var(--json-viewer-values-color, black);
        cursor: inherit;
    }

    #content span.key {
        color: var(--json-viewer-properties-color, black);
    }

    #content span.key::before {
        content: '"';
    }

    #content span.key::after {
        content: '": ';
    }

    #content dt.array>span.value>dl>dt>span.key::before {
        content: '';
    }

    #content dt.array>span.value>dl>dt>span.key::after {
        content: ': ';
    }

    #content span.value a {
        color: inherit;
    }

    #content span.value::before {
        content: '"';
    }

    #content span.value::after {
        content: '"';
    }

    #content span.value.array::before {
        content: '[';
    }

    #content span.value.array::after {
        content: ']';
    }

    #content span.value.object::before {
        content: '{';
    }

    #content span.value.object::after {
        content: '}';
    }

    #content dt,
    #content span.value.array::after,
    #content span.value.object::after {
        padding-left: var(--indent);
    }

    #content dt:has(span.value.array),
    #content dt:has(span.value.object) {
        padding-left: 0;
    }

    #content dt:has(span.value.array)::before,
    #content dt:has(span.value.object)::before {
        cursor: pointer;
        content: 'expand_less ';
        font-family: 'Material Symbols Sharp';
        font-weight: bold;
        line-height: inherit;
        vertical-align: middle;
        color: var(--text-color-disabled, black);
    }

    #content dt:not(:last-child)::after {
        content: ",";
    }

    #content dt.collapsed:has(span.value.array)::before,
    #content dt.collapsed:has(span.value.object)::before {
        content: 'expand_more ';
    }

    #content dt.collapsed>span dl {
        display: none;
    }

    #content dt.collapsed span.value.array::after {
        content: '...]';
        padding-left: 0;
    }

    #content dt.collapsed span.value.object::after {
        content: '...}';
        padding-left: 0;
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 0.5em;
        display: flex;
        flex-flow: row nowrap;
    }

    footer>section:nth-child(2) {
        flex-grow: 1;
    }

    footer span {
        display: inline-block;
    }

    footer span:not(:last-child) {
        border-right: 1px solid var(--border-color);
        padding-right: 0.5em;
        margin-right: 0.25em;
    }

    .raw {
        margin: 0;
    }

    @media (max-width:480px) {
        #content {
            line-height: 2em;
        }
    }
</style>
<main>
    <div id="content"></div>
    <resource-template-view hidden></resource-template-view>
    <footer>
        <section>
            <m2-round-button id="mode-toggle-raw" title="Raw" data-icon="raw_on"></m2-round-button>
            <m2-round-button id="mode-toggle-object" title="Object" data-icon="data_object"></m2-round-button>
            <m2-round-button id="mode-toggle-template" title="Template" data-icon="wysiwyg"></m2-round-button>
        </section>
        <section></section>
        <section>
            <span>
                <m2-round-button id="sort-toggle" title="Sort" data-icon="sort_by_alpha"></m2-round-button>
            </span>
            <span>
                <m2-round-button id="share" title="Share" data-icon="share"></m2-round-button>
                <m2-round-button id="copy" title="Copy to clipboard" data-icon="content_copy"></m2-round-button>
                <m2-round-button id="download" title="Download" data-icon="download"></m2-round-button>
            </span>
        </section>
    </footer>
</main>