<style>
    @import url(/assets/material.css);

    main {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        font-family: var(--font-family);
    }

    #content {
        flex: 1 1 auto;
        height: 0;
        padding: 1em;
        overflow-y: auto;
        min-width: 40em;
    }

    #formDialog footer {
        border-top: 1px solid var(--border-color);
    }

    footer {
        padding: 9px 16px;
        text-align: right;
        overflow: hidden;
    }

    p {
        margin: 0;
        padding: 1em;
    }

    .authMethod {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        padding-bottom: 1em;
    }

    .authMethod label {
        font-family: inherit;
        font-size: inherit;
        margin-right: 1em;
        white-space: nowrap;
    }


    @media (max-width:480px) {
        #content {
            min-width: unset;
        }
    }
</style>
<app-dialog id="formDialog" centered>
    <round-button slot="appBarRight" id="formDelete" title="Delete" data-icon="delete"></round-button>
    <main>
        <section id="content">
            <text-field id="key" placeholder="Code" required></text-field>
            <text-field id="url" placeholder="Url" required></text-field>
            <div class="authMethod">
                <label for="authNo">No Auth
                    <input type="radio" id="authNo" name="authMethod" value="No Auth" checked />
                </label>
                <label for="authApi">API Key
                    <input type="radio" id="authApi" name="authMethod" value="API Key" />
                </label>
                <label for="authBasic">Basic
                    <input type="radio" id="authBasic" name="authMethod" value="Basic" />
                </label>
                <label for="authOauth">OAuth 2
                    <input type="radio" id="authOauth" name="authMethod" value="OAuth 2" />
                </label>
            </div>
            <section id="apiSection" hidden>
                <text-field id="apiKey" placeholder="Key" required></text-field>
                <text-field id="apiValue" placeholder="Value" required></text-field>
            </section>
            <section id="basicSection" hidden>
                <text-field id="basicUsername" placeholder="Username" required></text-field>
                <text-field id="basicPassword" placeholder="Password" required></text-field>
            </section>
            <section id="oauthSection" hidden>
                <text-field id="oauthTokenurl" placeholder="Access Token URL" required></text-field>
                <text-field id="oauthClientid" placeholder="Client ID" required></text-field>
                <text-field id="oauthClientsecret" placeholder="Client Secret" required></text-field>
                <text-field id="oauthGranttype" placeholder="Grant Type" value="client_credentials" required
                    readonly></text-field>
            </section>
        </section>
        <footer>
            <app-button id="formCancel" value="Cancel"></app-button>
            <app-button id="formOk" value="Apply"></app-button>
        </footer>
    </main>
</app-dialog>
<app-confirm data-ok-text="delete" hidden>
    <p>Delete this configuration?</p>
</app-confirm>