<style>
    main {
        background-color: var(--hover-color);
        border-bottom: 1px solid gray;
        display: flex;
    }

    main:focus-within {
        border-color: var(--primary-color);
    }

    input {
        background: none;
        border: 0 none;
        border-bottom: 1px solid transparent;
        color: var(--text-color-normal);
        flex: auto;
        font: inherit;
        padding: 5px;
    }

    input:focus {
        outline: none;
        border-color: var(--primary-color);
    }
</style>
<main>
    <input type="text" spellcheck="false"></input>
</main>