<style>
    input {
        background: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font: inherit;
        padding: 5px 16px;
        text-transform: uppercase;
    }

    input:not([disabled]) {
        color: var(--primary-color);
        cursor: pointer;
    }

    input:not([disabled]):hover {
        background-color: var(--hover-color);
        cursor: pointer;
    }

    input[disabled] {
        color: var(--text-color-disabled);
    }
</style>
<input type="button"></input>