<link rel="stylesheet" href="/assets/material.css">
<style>
    main {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 32%);
        min-height: 100%;
        min-width: 100%;
    }

    .surface {
        background-color: var(--background-color, white);
        border-radius: 4px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .overlay {
        background-color: rgba(255, 255, 255, 4%);
        color: var(--text-color-normal, white);
        display: flex;
        flex-direction: column;
        font-family: Roboto, Arial, monospace;
        height: 100%;
    }

    h2 {
        margin: 0.5em 1em;
    }

    footer {
        padding: 9px 16px;
        text-align: right;
        overflow: visible;
    }

    @media (max-width:480px) {
        .surface {
            width: 90%;
        }

        .overlay {
            background-color: transparent;
        }
    }
</style>
<main>
    <div class="surface">
        <div class="overlay">
            <h2></h2>
            <slot></slot>
            <footer>
                <app-button id="btnCancel" value="cancel"></app-button>
                <app-button id="btnOk" value="ok"></app-button>
            </footer>
        </div>
    </div>
</main>