<link rel="stylesheet" href="/assets/material.css">
<style>
    main {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 32%);
        min-height: 100%;
        min-width: 100%;
    }

    .surface {
        background-color: var(--background-color, white);
        border-radius: 4px;
        height: 50%;
        max-width: 50%;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .surface.centered {
        left: 50%;
        right: unset;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .overlay {
        background-color: rgba(255, 255, 255, 4%);
        color: var(--text-color-normal, white);
        display: flex;
        flex-direction: column;
        font-family: Roboto, Arial, monospace;
        height: 100%;
    }

    #title {
        margin: 0.5em 0;
    }

    #content {
        overflow: hidden;
        flex: 1 1 auto;
        height: 0;
    }

    @media (max-width:480px) {
        .surface {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-width: unset;
        }

        .overlay {
            background-color: transparent;
        }
    }
</style>
<main>
    <div class="surface">
        <div class="overlay">
            <section id="header">
                <app-bar>
                    <section slot="left">
                        <slot name="appBarLeft"></slot>
                    </section>
                    <h3 id="title" slot="middle"></h3>
                    <section slot="right">
                        <slot name="appBarRight"></slot>
                    </section>
                </app-bar>
            </section>
            <section id="content">
                <slot></slot>
            </section>
        </div>
    </div>
</main>