<link href="/assets/material.css" rel="stylesheet" />
<style>
    div {
        height: 100%;
        overflow: auto;
    }

    table {
        border-collapse: collapse;
        min-width: 100%;
        white-space: nowrap;
    }

    thead {
        background-color: var(--background-color);
        box-shadow: 0 2px 4px var(--border-color);
        position: sticky;
        top: 0;
    }

    th,
    td {
        height: 56px;
        padding: 1px 16px;
        text-align: left;
    }

    th {
        text-transform: capitalize;
    }

    tbody tr {
        border-bottom: 1px solid var(--border-color, gray);
        cursor: pointer;
    }

    tbody tr:hover,
    tbody tr.selected {
        background-color: var(--hover-color, rgb(0 0 0 / 4%));
    }
</style>
<div>
    <table>
        <thead>
            <tr id="header"></tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
</div>