<link rel="stylesheet" href="/assets/material.css">
<style>
    main {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-family: inherit;
        font-size: .875rem;
        padding: 0.5em;
        text-align: right;
        white-space: nowrap;
    }

    .rows {
        margin: 0 24px;
        flex: auto;
    }
</style>
<main>
    <div class="rows">
        <slot name="rows"></slot>
    </div>
    <div class="arrows">
        <slot name="arrows"></slot>
    </div>
</main>