<link href="/assets/material.css" rel="stylesheet" />
<style>
    main {
        background-color: inherit;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    #primary {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: var(--text-color-normal, black);
    }

    #primary:first-letter {
        text-transform: uppercase;
    }

    #secondary {
        display: block;
        font-size: smaller;
        color: var(--text-color-disabled);
        overflow-wrap: break-word;
    }
</style>
<main>
    <span id="icon" class="material-symbols"></span>
    <span class="text">
        <span id="primary"></span>
        <span id="secondary"></span>
    </span>
</main>