<style>
    @import url(/assets/material.css);

    main {
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .text {
        flex: 1 1 auto;
        overflow: hidden;
    }

    #primary {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: var(--text-color-normal, black);
    }

    #primary:first-letter {
        text-transform: uppercase;
    }

    #secondary {
        display: block;
        font-size: smaller;
        color: var(--text-color-disabled);
        overflow-wrap: break-word;
    }
</style>
<main>
    <span id="icon" class="material-symbols-sharp"></span>
    <span class="text">
        <span id="primary"></span>
        <span id="secondary"></span>
    </span>
    <section>
        <slot name="trailling"></slot>
    </section>
</main>