<link href="/assets/material.css" rel="stylesheet" />
<style>
    main {
        padding: 8px;
        text-align: center;
        border: 0 none;
        color: inherit;
        background-color: transparent;
        border-radius: 50%;
        user-select: none;
    }

    main:not([disabled]):hover {
        background-color: var(--hover-color, rgb(0 0 0 /5%));
        cursor: pointer;
    }

    main[disabled] {
        color: var(--text-color-disabled);
    }
</style>
<main class="material-symbols" />