<style>
    @import url(/assets/material.css);

    main {}

    #field {
        background-color: var(--hover-color, lightgray);
        border-bottom: 1px solid rgba(0, 0, 0, 42%);
        display: flex;
        font-size: 1em;
        position: relative;
    }

    main:focus-within {
        border-bottom-color: var(--primary-color, black);
    }

    input {
        background: none;
        border: 0 none;
        border-bottom: 1px solid transparent;
        caret-color: var(--primary-color, black);
        color: var(--text-color-normal, black);
        flex: auto;
        font: inherit;
        padding: 15px;
    }

    input[readonly] {
        cursor: default;
    }

    input:focus {
        outline: none;
        padding: 23px 15px 7px 15px;
        border-color: var(--primary-color);
    }

    input::placeholder {
        font-size: 1em;
        color: var(--text-color-disabled, black);
    }

    input::selection {
        color: white;
        background: var(--primary-color);
    }

    input:focus::placeholder {
        visibility: hidden;
    }

    input:not(:placeholder-shown) {
        padding: 23px 15px 7px 15px;
    }

    label {
        color: var(--text-color-disabled, black);
        font-size: 12px;
        left: 15px;
        pointer-events: none;
        position: absolute;
        top: 6px;
        visibility: hidden;
    }

    input:focus+label,
    input:not(:placeholder-shown)+label {
        visibility: visible;
    }

    input:focus+label {
        color: var(--primary-color, black);
    }

    input:invalid+label,
    input:invalid:focus {
        color: var(--background-error);
        border-color: var(--background-error);
    }

    input:required+label::after {
        content: '*';
    }

    #helper {
        font-size: smaller;
        margin: 0 0 1em 1em;
    }
</style>
<main>
    <section id="field">
        <input type="text" placeholder="" spellcheck="false"></input>
        <label></label>
    </section>
    <section id="helper"></section>
</main>