<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    header {
        padding: 1em;
        display: flex;
        align-items: center;
    }

    m2-tabs {
        flex: 1 1 auto;
    }

    m2-tabs>section {
        border-top: 1px solid var(--border-color);
    }
</style>
<main>
    <header>
        <m2-avatar data-icon="database"></m2-avatar>
        <m2-list-item id="serverTitle"></m2-list-item>
    </header>
    <m2-tabs>
        <section data-caption="Resource Types">
            <server-resources></server-resources>
        </section>
        <section data-caption="Details">
            <server-capabilities></server-capabilities>
        </section>
    </m2-tabs>
</main>