<style>
    main {
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 400px;
    }

    #list {
        flex: 1 1 auto;
        height: 0;
    }

    #setupAdd {
        position: absolute;
        bottom: 4em;
        right: 1em;
        background-color: var(--primary-color);
        border-radius: 100%;
        color: white;
        box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 0.2), 0px 6px 10px 0px rgb(0 0 0 / 0.14), 0px 1px 18px 0px rgb(0 0 0 / 0.12);
    }

    footer {
        border-top: 1px solid var(--border-color);
        padding: 9px 16px;
        text-align: right;
        overflow: hidden;
    }

    m2-dialog #setupToggle,
    m2-dialog.edit footer,
    m2-dialog.edit #setupAdd {
        display: block;
    }

    m2-dialog.edit #setupToggle,
    m2-dialog footer,
    m2-dialog #setupAdd {
        display: none;
    }

    #setupClose {
        display: none;
    }

    @media (max-width:480px) {
        main {
            min-width: none;
        }

        #setupClose {
            display: block;
        }
    }
</style>
<m2-dialog id="serverDialog" data-title="Connections">
    <m2-round-button slot="appBarLeft" id="setupClose" title="close" data-icon="close"></m2-round-button>
    <m2-round-button slot="appBarRight" id="setupToggle" title="setup" data-icon="edit"></m2-round-button>
    <main>
        <section id="list">
            <server-list></server-list>
            <m2-round-button id="setupAdd" title="add" data-icon="add"></m2-round-button>
        </section>
        <footer>
            <m2-button id="setupCancel">cancel</m2-button>
            <m2-button id="setupSave">save</m2-button>
        </footer>
    </main>
</m2-dialog>

<server-form hidden></server-form>